---
interface Props {
    totalPages:number;
    pageParam:number;
}

const{totalPages,pageParam} = Astro.props;
const url = Astro.url;
const currentPage = Math.max(pageParam > totalPages ? totalPages:pageParam,1);
const path = url.pathname;





---




<div class="flex justify-between my-32 mx-32">
    <a class="button" href={`${path}?page=${Math.max(currentPage-1,1)}`}>Anterior </a>
    <p>{`Pagina   ${currentPage}  de  ${totalPages}`}</p>
    <a class="button" href={`${path}?page=${Math.min(currentPage+1,totalPages)}`}>Siguiente</a>

</div>

<style>
    .button{
        @apply p-2 bg-guacamole-icons text-guacamole-f rounded
    }
</style>