@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .shadow-button{
        box-shadow: 5px 5px 0 theme('colors.black');
    }
    .shadow-image{
        box-shadow: 10px 10px 0 theme('colors.black');
    }
    .shadow-icons{
        box-shadow: 4px 3px 0 theme('colors.green.900');
    }
}