---
import Layout from "@layouts/Layout.astro";
import CardProducts from "@components/products/CardProducts.astro";
import SliderImageIndex from "@components/SliderImageIndex.astro";
import SliderImageAutomatic from "@components/SliderImageAutomatic.astro";

---
<Layout>  
    <h1 class="text-4xl font-bold text-center mt-10">Bienvenido a Guacamole Shop</h1>
    <p class="text-center mt-4 text-lg">Tu tienda online de guacamole y productos relacionados.</p>  
    <SliderImageAutomatic />
<CardProducts />
</Layout>
