---
import Instagram from "@svg/Instagram.astro";
import Facebook from "@svg/Facebook.astro";
import Git from "@svg/Git.astro";
import Layout from "../layouts/Layout.astro";
import 'swiper/css';
import 'swiper/css/pagination';

const images=[
    "guacamoleIA.png",
    "guacamole-caricatura.png"
]

---

<Layout>
    <!-- Slider main container -->
<div class="swiper mt-10 col-span-1 sm:col-span-2">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {
      images.map((image) => (
        <div class="swiper-slide">
          <img
            src={image}
            alt="Product image"
            class="w-full h-full object-cover px-10"
          />
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 bg-guacamole-fondo h-full mb-24">
        <div
            class="px-4 sm:px-8 max-w-full md:max-w-screen-xl mx-auto flex flex-col justify-center sm:items-start items-center font-unique"
        >
            <h1 class="text-xl sm:text-4xl md:text-3xl text-black mt-10 border-black border-2 bg-guacamole-f rounded-xl shadow-button px-4 py-2  ">
                TIENDA GUACAMOLE SHOP
            </h1>
            <p class="text-base sm:text-2xl mt-6 sm:mt-12 text-black">
                🥑 ¡El sabor que estabas esperando!
                    En Guacamole Shop preparamos guacamole fresco cada día, con ingredientes 100% naturales y sin conservantes.
            </p>
            <p class="text-base sm:text-2xl mt-6 sm:mt-12 text-black">
                Cremoso, saludable y listo para disfrutar en tacos, tostadas o como más te guste.
                Pruébalo hoy y siente México en cada bocado.
            </p>
            <div class="block md:hidden w-full mt-6">
                <img
                    class="w-full max-w-full h-auto object-cover rounded-lg"
                    src="/images/guacamole-caricatura-partida.png"
                    alt="guacamole 1"
                />
            </div>
            <a href="/tienda"
                class="text-black mt-10 border-black border-2 bg-guacamole-f rounded-xl shadow-button px-4 py-2"
            >
                
                   IR A LA TIENDA
                
            </a>
            <div class="w-full flex sm:justify-start items-center justify-center ">
                <ul class="flex gap-4 sm:gap-6 mt-6  ">
                    <li class="flex justify-center items-center">
                        <a
                            class="text-black  border-black border-2 bg-guacamole-f rounded-xl shadow-button px-4 py-2 "
                            href="/"
                        >
                            
                                <Instagram >
                            
                        </a>
                    </li>
                    <li class="flex justify-center items-center">
                        <a
                            class="text-black  border-black border-2 bg-guacamole-f rounded-xl shadow-button px-4 py-2"
                            href="#"
                        >
                            
                                <Facebook />
                            
                        </a>
                    </li>
                    <li class="flex justify-center items-center">
                        <a
                            class="text-black  border-black border-2 bg-guacamole-f rounded-xl shadow-button px-4 py-2"
                            href="#"
                        >
                           
                                <Git />
                            
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hidden md:grid place-items-center w-full pr-0 md:pr-6 bg-guacamole-fondo mt-8 md:mt-0">
            <img
                class="object-cover aspect-auto max-w-[600px] w-full"
                src="/images/guacamole-caricatura-partida.png"
                alt="guacamole"
            />
        </div>
    </div>
</Layout>

<style>
  .swiper {
    width: 100%;
    height: 600px;
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';
  document.addEventListener('astro:page-load',()=>{

    const swiper = new Swiper('.swiper', {
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
  
      modules: [Pagination],
    });
  })
</script>