---
import Instagram from "../components/svgs/instagram.astro";
import Facebook from "../components/svgs/facebook.astro";
import Git from "../components/svgs/git.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 bg-guacamole-fondo h-full mb-24">
        <div
            class="px-4 sm:px-8 max-w-full md:max-w-screen-xl mx-auto flex flex-col justify-center items-start font-unique"
        >
            <h1 class="text-2xl sm:text-4xl md:text-5xl text-amber-950">
                Bienvenidos a la tienda Guacamole Shop
            </h1>
            <p class="text-base sm:text-2xl mt-6 sm:mt-12 text-amber-950">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                eos doloribus cumque dolorum non aliquam laboriosam nihil
                dolorem enim veritatis beatae, fugit officia voluptates labore
                voluptate esse vel atque aspernatur.
            </p>
            <div class="block md:hidden w-full mt-6">
                <img
                    class="w-full max-w-full h-auto object-cover rounded-lg"
                    src="/guacamole-caricatura-partida.png"
                    alt="guacamole"
                />
            </div>
            <button
                class="group relative inline-block focus:ring-3 focus:outline-hidden w-full sm:w-fit active:translate-y-1 active:shadow-[0px_0px_0_0_#3E6102] transition-all mt-8 sm:mt-12"
            >
                <span
                    class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-guacamole-f transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
                ></span>

                <span
                    class="block w-full sm:w-[324px] h-[48px] sm:h-[58px] relative border-2 border-current px-4 sm:px-8 py-2 sm:py-3 text-sm font-bold tracking-widest text-black uppercase"
                >
                   Ir a la tienda 🥑
                </span>
            </button>
            <div class="w-full flex justify-center items-center sm:justify-start ">
                <ul class="flex gap-4 sm:gap-6 mt-6 ">
                    <li>
                        <a
                            class="group relative inline-block focus:ring-3 focus:outline-hidden w-full sm:w-auto"
                            href="#"
                        >
                            <span
                                class="h-[44px] sm:h-[52px] absolute inset-0 translate-x-1.5 translate-y-1.5 bg-guacamole-f transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
                            ></span>

                            <span
                                class="relative inline-block border-2 border-current px-6 sm:px-8 py-2 sm:py-3 text-sm font-bold tracking-widest text-black uppercase"
                            >
                                <Instagram />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="group relative inline-block focus:ring-3 focus:outline-hidden w-full sm:w-auto"
                            href="#"
                        >
                            <span
                                class="h-[44px] sm:h-[52px] absolute inset-0 translate-x-1.5 translate-y-1.5 bg-guacamole-f transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
                            ></span>

                            <span
                                class="relative inline-block border-2 border-current px-6 sm:px-8 py-2 sm:py-3 text-sm font-bold tracking-widest text-black uppercase"
                            >
                                <Facebook />
                            </span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="group relative inline-block focus:ring-3 focus:outline-hidden w-full sm:w-auto"
                            href="#"
                        >
                            <span
                                class="h-[44px] sm:h-[52px] absolute inset-0 translate-x-1.5 translate-y-1.5 bg-guacamole-f transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
                            ></span>

                            <span
                                class="relative inline-block border-2 border-current px-6 sm:px-8 py-2 sm:py-3 text-sm font-bold tracking-widest text-black uppercase"
                            >
                                <Git />
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hidden md:grid place-items-center w-full pr-0 md:pr-6 bg-guacamole-fondo mt-8 md:mt-0">
            <img
                class="object-cover aspect-auto max-w-[600px] w-full"
                src="/guacamole-caricatura-partida.png"
                alt="guacamole"
            />
        </div>
    </div>
</Layout>
