---

import Layout from '../layouts/Layout.astro';

---

<Layout>
    <!-- Fondo SVG -->
    <div class="absolute inset-0 -z-10 overflow-hidden">
        <svg
            aria-hidden="true"
            class="absolute top-[9rem] left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        >
            <defs>
                <pattern id="grid-pattern" width="200" height="200" patternUnits="userSpaceOnUse">
                    <path d="M100 200V.5M.5 .5H200" fill="none" />
                </pattern>
            </defs>
            <rect fill="url(#grid-pattern)" width="100%" height="100%" strokeWidth="0" />
        </svg>
    </div>

    <div class="grid grid-cols-2 gap-4 h-screen">
        <div class="px-8 max-w-screen-xl mx-auto flex flex-col justify-center items-start font-unique">
            <h1 class="text-5xl">Bienvenidos a la tienda</h1>
            <h1 class="text-5xl">Guacamole Shop</h1>
            <p class="text-2xl mt-24">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eos doloribus cumque dolorum non aliquam
                laboriosam nihil dolorem enim veritatis beatae, fugit officia voluptates labore voluptate esse vel atque
                aspernatur.
            </p>
            <button class="text-xl border-2 border-black px-4 py-1 shadow-button transition-all duration-100 active:translate-y-1 active:shadow-sm rounded-md mt-12">
                Ir a la tienda
            </button>
            <div>
                <ul class="flex gap-6 mt-6">
                    <li class="w-10 h-10 flex justify-center items-center rounded-full shadow-button">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    fill="currentColor"
                                    d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
                                />
                            </svg>
                        </a>
                    </li>
                    <!-- Otros íconos -->
                </ul>
            </div>
        </div>

        <div class="grid place-items-center w-full">
            <img
                class="rounded-md w-2/3 h-2/3 border-2 border-black object-cover aspect-auto shadow-button"
                src="https://content.cuerpomente.com/medio/2022/07/13/guacamole-receta-casera_e8b1c2fb_1200x1200.jpg"
                alt="guacamole"
            />
        </div>
    </div>
</Layout>
