---

---
<div class="grid grid-cols-[1fr_1.618fr_1fr] gap-6 max-w-screen-xl mx-auto px-6 bg-guacamole-f py-10">
  <aside class="col-span-1">Navigation</aside>
  <main class="col-span-1.618">Main</main>
  <aside class="col-span-1">Complementary</aside>
</div>