---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { actions } from "astro:actions";
import Pagination from "../components/shared/Pagination.astro";

export const prerender = false
const url = Astro.url;
const pageParam = Number(url.searchParams.get('page') ?? 1);


const {data,error} = await Astro.callAction(actions.getProductsByPage,{
    page:pageParam
})

if (error) {
    return Astro.redirect('/');
}

const  {products,totalPages} = data;



---

<Layout>
    <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 place-items-center h-full  "
    >
        {
            products.map((product)=>(
                <Card product={product}/>
            ))
        }


    </div>

    <Pagination pageParam={pageParam} totalPages={totalPages}/>
</Layout>

<style>
    div {
        place-items: center;
    }
</style>
