---
---

<footer class="border-t-2 border-black bg-guacamole-icons py-6 mt-auto">
    <div class="max-w-screen-xl mx-auto text-center text-guacamole-pulpa font-unique text-xl">
        <p class="col-span-1 md:col-span-4 text-lg md:text-xl pb-6">&copy; 2025 GUACAMOLE SHOP. TODOS LOS DERECHOS RESERVADOS</p>
        <ul class="flex flex-wrap justify-center items-center gap-8">
            <li class="flex items-center gap-2">
                <span class="w-6 h-6 rounded-full bg-guacamole-a"></span>
                <a href="/privacy" class="hover:underline">ASTRO</a>
            </li>
            <li class="flex items-center gap-2">
                <span class="w-6 h-6 rounded-full bg-guacamole-d"></span>
                <a href="/terms" class="hover:underline">COPILOT</a>
            </li>
            <li class="flex items-center gap-2">
                <span class="w-6 h-6 rounded-full bg-guacamole-f"></span>
                <a href="/contact" class="hover:underline">VISUAL STUDIO CODE</a>
            </li>
            <li class="flex items-center gap-2">
                <span class="w-6 h-6 rounded-full bg-guacamole-g"></span>
                <a href="/about" class="hover:underline">NOTION</a>
            </li>
            <li class="flex items-center gap-2">
                <span class="w-6 h-6 rounded-full bg-guacamole-h"></span>
                <a href="/about" class="hover:underline">BLENDER</a>
            </li>
        </ul>
    </div>
</footer>