---
---

<nav class="navbar">
  <div class="navbar__container">
	<a href="/" class="navbar__logo">MySite</a>
	<ul class="navbar__links">
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/services">Services</a></li>
	  <li><a href="/contact">Contact</a></li>
	</ul>
  </div>