---
import "../styles/global.css";
---
<nav class="bg-wite border-b-2 border-gray-950 flex justify-around  items-center p-4 font-unique text-2xl bg-guacamole-d">
	<div class="">
		Logo
	</div>
	<div>
		<ul class="flex gap-6">
			<li class=""><a href="/">Inicio</a></li>
			<li><a href="/about">Acerca de mí</a></li>
			<li><a href="/services">Producto</a></li>
			<li><a href="/contact">Contacto</a></li>
		</ul>
	</div>
	<div>
		<button class="border-2 border-black  px-4 py-1 shadow-button transition-all duration-100 active:translate-y-1 active:shadow-sm bg-guacamole-h ">
			Producto
		  </button>
	</div>
</nav>