---
import "../styles/global.css";
---
<nav class="bg-guacamole-a">
	<ul class="grid grid-cols-4 gap-4 p-4">
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/services">Services</a></li>
	  <li><a href="/contact">Contact</a></li>
	</ul>
</nav>