---
import "../styles/global.css";
---
<nav class="w-full">
    <div class="border-b-2 border-black font-unique text-7xl text-center py-3 bg-guacamole-pulpa text-amber-950 font-extrabold">GUACAMOLE SHOP 🥑</div>
    <div class="bg-wite border-b-2 border-gray-950 flex justify-between items-center px-8 py-4 font-unique text-2xl bg-guacamole-icons">
        <div class="items-start">
            <ul class="flex gap-6 text-guacamole-pulpa font-bold">
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de mí</a></li>
                <li><a href="/services">Producto</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
        <div>
            <button class="bg-guacamole-f text-amber-950 font-bold border-4 border-black rounded-lg px-6 py-3 shadow-[4px_4px_0_0_#3E6102] hover:shadow-[2px_2px_0_0_#3E6102] active:translate-y-1 active:shadow-[0px_0px_0_0_#3E6102] transition-all">
                Comprar Guacamole 🥑
              </button>
        </div>
    </div>
</nav>